:root{
--background-color: #fff;
--background-light: #fff;
--shadow-color: rgba(0,0,0,0.2);
--primary-color:rgba(255,0,86);
--text-color: #0A0A0A;
--text-light: #575757;
--font-fize: 15px;
--animation-speed: 1;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: var(--font-fize);
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

@import "navbar.scss";


.section{
    display: flex;
    align-items:center;
    .col{
        width: 50%;
    }
}

.main{
    padding-block: 3vw;
}


.container{
    padding-inline: 15vw;
}

@media screen and (max-width: 768px) {
    .navbar{
        .na-links{
            display:none;
        }
        .sidebar-btn{
            display: block;
        }
    }
}